body {
    background-color: #E9D6CF;
}

.mainDiv {
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    background-color: #DC6C5E;
    width: 450px;
    padding: 20px;
    margin: auto;
    margin-top: 10%;
}

h1 {
    color: #4A403D;
}

p {
    color: #8F455D;
    text-align: center;
    width: 450px;
    margin: auto;
    margin-top: 50px;
}

img {
    margin-top: -80px;
    width: 100px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 360px;
}