@import "../../scss/_variables";
@import "../../scss/_mixins";

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: $cardNavBgColor;
  font-family: "Amatic SC", cursive;

  a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem;
    font-weight: bold;

    &:hover {
      background-color: $backgroundColor;
      color: $cardNavBgColor;
    }
  }
}

@include media-xsm {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
}

@include media-sm {
    .navbar {
        flex-direction: row;
    }
}